th {
	text-align: center;
}

.center {
	text-align: center;
}

.cell-number {
	width: 5%;
}

.cell-datetime {
	width: 15%;
}

.linkcursor {
	cursor: pointer;
}

.menu-button {
	margin-left: 24px;
	margin-right: 24px;
	width: 96px;
	height: 96px;
}

.menubox {
	border: 1px solid;
	height: 150px;
	margin: 10px;
}

#div_tl {
	border: 1px solid;
	height: 310px;
	margin: 10px;
}

#div_icon {
	border: 1px solid;
	width: 96px;
	height: 96px;
	margin: 0 auto;
}

