/*ヘッダメニューを表示するために、全てのページは上70px空ける*/
body {
  padding-top: 70px;
  background-image: url("../image/bg2.png");
}

/*テーブルヘッダは全て中央揃えに*/
th {
  text-align: center;
}

/*セル内の数値*/
tr *.cell-number {
  width: 5%;
}

/*セル内の日付時刻文字列*/
tr *.cell-datetime {
  width: 15%;
}

/*オンマウス時にポインタカーソルを表示するクラス*/
.linkcursor {
  cursor: pointer;
}

/*テキストを中央揃えにするクラス*/
.center {
  text-align: center;
  vertical-align: center;
}

/*要素を右寄せにする*/
.right {
  float: right;
}

/*要素をインラインにする*/
.inline {
  display: inline;
}

/*要素を非表示にする*/
.hide {
  display: none;
}

/*テキストを右揃えにするクラス*/
.right {
  text-align: right;
}

/*オレンジ色*/
.orange {
  color: rgb(255,102,0);
}

/*赤色*/
.red {
  color: rgb(255,0,0);
}

/*トップ画面 タイムライン領域 */
#div_timelines {
  height: 310px;
  border: 1px solid;
  overflow: scroll;
}
.div-timeline {
  padding: 5px 10px 5px 10px;
  text-align: left;
}

/*トップ画面　バスタオル*/
#bathtowel_div {
  background-color: #feacc1;
  position: fixed;
  left: 0px;
  right: 0px;
  height: 90px;
  bottom: 0;
}
#bathtowel_info {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 100px;
  font-size: 24px;
  text-align: center;
}

/*ログイン画面の更新情報エリア*/
#update_information {
  resize: none;
  width: 100%;
  height: 200px;
}

/*トップ画面 ログインユーザのアイコン領域*/
#top_my_icon {
  border: 1px solid;
  width: 96px;
  height: 96px;
  margin: auto;
}

/*カラオケ詳細画面*/
.karaoke-result-block {
  margin: 10px 0px 10px 50px;
  border-radius: 10px;    /* CSS3草案 */
  -webkit-border-radius: 10px;  /* Safari,Google Chrome用 */
  -moz-border-radius: 10px; /* Firefox用 */
  width: 20%;
  height: 90px;
  background-color: rgb(255,255,102);
  float: left;
  position: relative;
}
.karaoke-result-block > .description {
  font-size: 19px;
}
.karaoke-result-block > .result {
  font-size: 31px;
  overflow: hidden;
  white-space: nowrap;
}
.karaoke-memo-block {
}
.karaoke-memo-block > .result {
  font-size: 19px !important;
  white-space: normal !important;
  color: black !important;
}

/* 履歴入力画面の配置調整クラス */
.input_dialog div {
  margin-top: 10px;
}
.input_dialog label {
  width: 100px;
  float: left;
  margin-right: 10px;
}
.input_dialog textarea {
  resize: vertical;
  overflow: auto;
  width: 560px;
}
.input_dialog #next_button,
.input_dialog #buttons {
  margin-top: 20px;
}
.input_dialog #buttons input {
  margin-right: 20px;
}

/* ユーザ登録画面の入力フォーム調整クラス */
.user_registration_table tr {
  height: 30px;
}

/* オンカーソル時にポインタを切り替えたい要素用クラス */
.pointer {
  cursor: pointer
}

/*楽曲詳細画面の歌唱履歴タブ*/
#history_tabs {
  font-size: 14px;
}
#history_tabs .ui-tabs-panel {
  height: 260px;
  overflow-y: auto;
  padding-top: 5px;
  padding-bottom: 0px;
}
.song-detail-history-table > tbody > tr > td {
  padding: 8px;
}

/*楽曲詳細画面のタグ一覧*/
#tag_list_table > tr > td {
  vertical-align: top;
  padding-top: 10px;
}

/*タグで楽曲検索画面*/
#search_tag_table {
  font-size: 14px;
}
#search_tag_table > tbody > tr > td {
  padding: 4px;
}

/*ユーザページのテーブル表示*/
.recent_karaoke_area {
  border-bottom: 1px solid rgb(255,255,204);
  background-color: rgb(255,255,204);
}

.recent_sang_area {
  border-bottom: 1px solid rgb(255,165,0);
  background-color: rgb(255,165,0);
}

#most_sang_song_table > tbody > tr > td {
  font-size: 15px;
}

#max_score_table > tbody > tr > td {
  font-size: 15px;
}

/*ユーザページのユーザアイコン表示枠*/
#user_icon {
  border: 1px solid;
  width: 96px;
  height: 96px;
  margin: auto;
}

/*ユーザページの「もっと見る」リンク*/
.userpage-more-link {
  position: absolute;
  margin-top: -20px;
  right: 12px;
}
