/*
simplyScroll v2
http://logicbox.net/jquery/simplyscroll/horizontal.html
*/
.simply-scroll-container { 
  position: relative;
}
.simply-scroll-clip { 
  position: relative;
  overflow: hidden;
}
.simply-scroll-list { 
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.simply-scroll-list li {
  float: left; /* Horizontal scroll only */
  padding: 0;
  margin: 0;
  width: 160px;
  height: 90px;
}
.simply-scroll-list li img {
  display: block;
}

/*
Tablesorter
http://developmentor.lrlab.to/postal/jquery/jquery.tablesorter/basic1.html
*/
table.sortable thead tr .header {
  background-image: url(../public/image/tablesort_bg.gif);
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer;
}
table.sortable thead tr .headerSortUp {
  background-image: url(../image/tablesort_asc.gif);
}
table.sortable thead tr .headerSortDown {
  background-image: url(../image/tablesort_desc.gif);
}
table.sortable thead tr .headerSortDown, table.sortable thead tr .headerSortUp {
  background-color: #8dbdd8;
}

