/* =============================================
 * 共通クラス
 * ============================================*/
h1 {
  font-size: 22px;
}

h2 {
  font-size: 17px;
}

h3 {
  font-size: 15px;
}

h4 {
  font-size: 13px;
}

th {
  white-space: nowrap;
}

.table {
  font-size: 10px;
}
.table.sp-large {
  font-size: 14px;
}

.cell-date {
  width: 70px;
}

.pagination > li > a, .pagination > li > span {
  font-size: 8px;
  padding: 5px 10px;
}

#div_timelines {
  height: 200px;
}

#bathtowel_div {
  height: 45px;
}
.simply-scroll-list li {
  width: 80px;
}

.search-tag-thumbnail {
  width: 80px;
}

.search-tag-result {
  width: auto;
}

#description {
  width: 80%;
  padding-left: 20%;
}

#description > table > tbody > tr > th {
  width: 5%;
}

.sp-width-40 {
  width: 40;
}

.sp-width-70 {
  width: 70;
}

.btn-mini {
  font-size: 12px;
  height: 30px;
  padding: 0;
}

/* =============================================
 * トップページ
 * ============================================*/
.top-page h3 {
  margin-top: 25px;
}

/* =============================================
 * カラオケ詳細画面
 * ============================================*/
.karaoke_detail_info > table > tbody > tr > th {
  background-color: rgb(255,255,204);
}

.karaoke_detail_info > table > tbody > tr > td {
  background-color: white;
}
.history-table-sp {
  text-align: left;
}
.history-table-sp .history {
  padding-top: 15px;
  padding-bottom: 15px;
}
.history-table-sp .user {
  float: left;
  margin-right: 15px;
}
.history-table-sp .song {
  font-size: 110%;
  font-weight: bold;
  padding-top: 5px;
}
.history-table-sp .body {
  clear: both;
  margin-top: 15px;
}
.history-table-sp .youtube {
  float: left;
}
.history-table-sp .info {
  margin-left: 75px;
}
.history-table-sp .statistics-level {
  font-size: 80%;
  margin-top: 3px;
}
.history-table-sp .info ul{
  list-style-type: none;
}
.history-table-sp .edit {
  text-align: right;
}
.history-table-sp .edit a {
  color: white;
}

/* =============================================
 * 歌唱履歴画面
 * ============================================*/
.history-table {
  width: 100%;
  max-width: 100%;
}

/* =============================================
 * ページャ関係
 * ============================================*/
.pagination > li > a, .pagination > li > span {
  font-size: 18px;
}

/* =============================================
 * 設定画面
 * ============================================*/
 .config {
   width: 100%;
 }

/*-------------------------------------------
 * Twitter連携について
 *------------------------------------------*/
.twitter-description-section {
  font-size: 10px;
  margin-bottom: 15px;
}

/*------------------------------------------
 * ランキング
 *------------------------------------------*/
#score_type_selecter {
  width: 100%;
}
