<!-- PC版 -->
<% if Util.is_pc? %>
<div class="row">
  <div style="padding-top: 150px" class="col-xs-8">
    <% if Util.maintenance_status == Util::Const::Maintenance::CLOSE %>
      <h2>現在メンテナンス中です</h2>
      <p>現在パンダリンのカラオケランドはメンテナンス中です。</p>
      <p>申し訳ありませんが、メンテナンス中は全ての機能をご利用になれません。</p>
    <% else %>
      <h2>お探しのページは見つかりませんでした</h2>
      <p> あなたがアクセスしようとしたページは見つかりませんでした。</p>
      <p>お探しのページは移動、削除されたか、アクセス権限を持っていない、URLが間違っているなどの可能性があります。</p>
    <% end %>
  </div>
  <div class="col-xs-4">
    <img align="right" src="/image/kaeru.png" width='330px' height=auto>
  </div>
</div>

<!-- スマートフォン版 -->
<% else %>
  <div class='center'>
    <img src="/image/kaeru.png" width='150px' height=auto>
  </div>
  <div>
    <% if Util.maintenance_status == Util::Const::Maintenance::CLOSE %>
      <h2>現在メンテナンス中です</h2>
      <p>現在パンダリンのカラオケランドはメンテナンス中です。</p>
      <p>申し訳ありませんが、メンテナンス中は全ての機能をご利用になれません。</p>
    <% else %>
      <h2>お探しのページは見つかりませんでした</h2>
      <p>お探しのページは移動、削除されたか、アクセス権限を持っていない、URLが間違っているなどの可能性があります。</p>
    <% end %>
  </div>
<% end %>
