<h3 class='unpack'>よく歌われる楽曲</h3>
歌唱回数 みんな: <span id="sang_count_all"><%= @sang_all %></span>
<% if @current_user %>あなた: <span id="sang_count_user"><%= @sang_user %></span><% end %>
<div id="artist_songs_chart"></div>
