<div class='input_dialog from-group hidden' id='guideline' title="歌手名/曲名の入力指針">
  <div class='form-group'>
    <p class='control-label'>曲名の入力指針</p>
    <button class='popover-guideline btn btn-default form-control' id="guide1" data-placement="bottom">カラオケ特有の表記は不要</button>
    <button class='popover-guideline btn btn-default form-control' id="guide2" data-placement="bottom">バージョン表記も原則不要</button>
  </div>
  <div class='form-group'>
    <p class='control-label'>歌手名の入力指針</p>
    <button class='popover-guideline btn btn-default form-control' id="guide3" data-placement="bottom">ボカロ曲はP名のみ</button>
    <button class='popover-guideline btn btn-default form-control' id="guide4" data-placement="bottom">キャラクター名義はキャラ名のみ</button>
    <button class='popover-guideline btn btn-default form-control' id="guide5" data-placement="top">追加クレジットは省略</button>
    <button class='popover-guideline btn btn-default form-control' id="guide6" data-placement="top">ユニット名があればユニット名のみ</button>
    <button class='popover-guideline btn btn-default form-control' id="guide7" data-placement="top">複数人名義の場合"、"で繋ぐ</button>
    <button class='popover-guideline btn btn-default form-control' id="guide8" data-placement="top">カバーは原曲に統一</button>
  </div>
  <div class='form-group'>
    <button id="close_guide_btn" class='btn btn-default form-control'>戻る</button>
  </div>
</div>
