<div id="input_karaoke_result" class="input_dialog">
  <p class="center">カラオケの登録に成功しました</p>
  <table class="table sp-large">
    <tr>
      <th class="nowrap">カラオケ名</th>
      <td class="name"></td>
    </tr>
    <tr>
      <th class="nowrap">日付時刻</th>
      <td class="datetime"></td>
    </tr>
    <tr>
      <th class="nowrap">時間</th>
      <td class="plan"></td>
    </tr>
    <tr>
      <th class="nowrap">機種</th>
      <td class="product"></td>
    </tr>
    <tr>
      <th class="nowrap">店舗</th>
      <td class="store"></td>
    </tr>
  </table>
  <div class="tweet-button"></div>
  <div id="buttons">
    <button id="create_history_button" class="btn btn-default btn-block">歌唱履歴を登録する</button>
    <button id="close" class="btn btn-default btn-block">閉じる</button>
  </div>
</div>
