<div style="display: none">
	<div id="input_history" title="歌唱履歴の入力">
		<form action="/history/input" method="post">
			<p>「カラオケ」に登録</p>
			<p>曲名:　　　<input id="song" type="text" name="song" value="" size="30"/></p>
			<p>歌手:　　　<input id="artist" type="text" name="artist" value="" size="30"/></p>
			<div id="slidervalue" name="key"></div>
			<div id="seekbar" name="seekbar"></div>
			<p>採点方法:<SELECT id="score_type" name="socre_type">
				<% @score_type.each do |value| %>
					<OPTION value="<%= value['id'] %>"><%= "#{value['brand']} #{value['name']}" %></OPTION>
				<% end %>
			</SELECT></p>
			<p>採点:　　　<input id="score" type="text" name="score" value="" size="10"/></p>
			<input type="button" value="次を入力" onclick="zenra.postHistory('next');"/>
			<input type="button" value="全て登録" onclick="zenra.postHistory('regist');"/>
			<input type="submit" name="cancel" value="キャンセル" />
		</form>
	</div>
</div>

