<div id="input_result">
  <p class="center">歌唱履歴の登録に成功しました</p>
  <table class="table sp-large">
    <tr>
      <th class="nowrap">曲名</th>
      <td class="song-name"></td>
    </tr>
    <tr>
      <th class="nowrap">歌手名</th>
      <td class="artist-name"></td>
    </tr>
    <tr>
      <th class="nowrap">歌唱回数</th>
      <td class="sang-count"></td>
    </tr>
    <tr>
      <th class="nowrap">備考</th>
      <td class="since-info"></td>
    </tr>
    <tr>
      <th class="nowrap">総歌唱回数</th>
      <td class="total-sang-count"></td>
    </tr>
  </table>
  <button id="input_result_close_btn" class="btn btn-default btn-block">戻る</button>
</div>
