<div style="display: none">

  <%= erb :_input_history_main %>

  <div id="loading">
    <p>登録中です</p>
    <img src="/image/mascot.png" width="30%" height="30%" alt="マスコット">
  </div>

  <div id="caution">
    <p>入力を終了しますか？</p>
    <p>ここまでの入力内容はすべて破棄されます</p>
    <input id="yes" type="button" value="はい" onclick="register.reset()"/>
    <input id="no" type="button" value="いいえ" onclick="register.closeDialog()"/>
  </div>

</div>

