<div style="display: none">
  <div id="input_history" class="input_dialog" title="歌唱履歴の入力">
    <div id="main_content">
      <p id="result"></p>
      <div class='form-group'>
        <label class='control-label' for="song">曲名</label>
        <input class='form-control' id="song" class="tweet-text" title="曲名を入力してください。" type="text" name="song" value="" size="30"/>
      </div>
      <div class='form-group'>
        <label class='control-label' for="artist">歌手</label>
        <input class='form-control' id="artist" class="tweet-text" title="歌手名を入力してください。" type="text" name="artist" value="" size="30"/>
      </div>
      <div>
        <label for="slidervalue">キー:</label>
        <p id="slidervalue" name="key"></p>
        <p id="seekbar" title="キーを設定してください。" name="seekbar" style="width: 100%"></p>
        <div style="left: 0px">
          <p style="float:left"><button class='slider-btn btn btn-default btn-sm' data-value='-1'>-</button></p>
          <p align="right"><button class='slider-btn btn btn-default btn-sm' data-value='1'>+</button></p>
        </div>
      </div>
      <div class='form-group'>
        <label class='control-label' for="score_type">採点方法</label>
        <select class='form-control' id="score_type" title="採点方法を選択してください。" name="score_type">
          <option value="0"></option>
          <% @score_type.each do |value| %>
            <option value="<%= value['id'] %>"><%= "#{value['brand']} #{value['name']}" %></option>
          <% end %>
        </select>
      </div>
      <div id="score_area" class='form-group' style="display: none">
        <label class='control-label' for="score">得点</label>
        <input class='form-control' id="score" title="採点結果を入力してください。" type="number" name="score" value="" size="10"/>
      </div>
      <% if @twitter %>
      <div>
        <input type="checkbox" title="ツイートする場合はチェックを付けてください。" name="tweet" value="tweet" id="tweet-checkbox">
        <label for="tweet-checkbox"> ツイートする</label>
      </div>
      <div id="tweet_text_area" class="form-group hidden">
        <textarea class="form-control tweet-text size-fixed" id="tweet_textbox" name="tweet_text" cols="30" rows="3"></textarea>
        <span class='right' id="tweet_text_count"></span>
      </div>
      <% end %>
      <div class="form-group" id="buttons">
        <input class='form-control btn btn-default' id="button1" type="button" value="" />
        <input class='form-control btn btn-default' id="button2" type="button" value="" />
        <input class='form-control btn btn-default' type="button" value="ガイドライン" onclick="zenra.createNameGuideLines()">
      </div>
    </div>
    <%= erb :_guideline %>
  </div>
</div>
