<% if @song['url'] %>
  <% if Util.is_pc? %>
    <%= movie_player @song['url'] , '100%' , 315 %>
  <% else %>
    <%= movie_player @song['url'] , '100%' , 'auto' %>
  <% end %>
<% else %>
  <p class='center'>Youtubeプレイヤー用のURLが未設定です</p>
<% end %>
<% if @current_user && Util.is_smartphone? %>
<div class='form-group'>
  <button type="button" class='form-control btn btn-default btn-sm' onclick="register.editSong(<%= @song['id'] %> , '<%= h @song['url'] %>')">
    楽曲情報を編集する
  </button>
  <button type="button" class='form-control btn btn-default btn-sm' onclick="zenra.addHistoryToRecentKaraoke()">
    直近のカラオケに登録
  </button>
</div>
<% end %>
