<div id="history_tabs" style="display: none;">
  <ul>
    <% if @current_user && @my_history && @my_history.size > 0 %>
    <li><a href="#tabs-user" id="tab-user">あなたの</a></li>
    <% end %>
    <li><a href="#tabs-all" id="tab-all">みんなの</a></li>
  </ul>
  <% if @current_user  && @my_history && @my_history.size > 0 %>
  <div id="tabs-user">
    <% @info = @my_history %>
    <% @info_id = 'song_detail_table_user' %>
    <%= erb :_song_detail_history_table %>
  </div>
  <% end %>
  <div id="tabs-all">
    <% @info = @history %>
    <% @info_id = 'song_detail_table_all' %>
    <%= erb :_song_detail_history_table %>
  </div>
</div>
