<p class='center'>
  <img src="/image/arrow_left.png" width=16px class='pointer' onclick='zenra.scoreBarChart.prev()'>
  <span id="score_type_name">JOYSOUND 全国採点</span> 集計
  <img src="/image/arrow_right.png" width=16px class='pointer' onclick='zenra.scoreBarChart.next()'>
</p>
<div id="score_bar_chart"></div>
<div id="score_bar_chart_json" class='hidden'></div>
