<div id="div_timelines">
  <% if @timeline.empty? %>
    <p>友達がいません(笑)</p>
  <% else %>
    <% @timeline.each do |tl| %>
      <div class="div-timeline">
        <p class="abstruct">
          <%= user_link tl['userinfo']['username'] , tl['userinfo']['screenname'] %>
          さんがカラオケに行きました!
        </p>
        <p class="detail">
          <%= karaoke_link(tl['karaoke_id'] , "[#{tl['datetime']}] #{tl['name']}") %>
        </p>
        <hr>
      </div>
    <% end %>
  <% end %>
</div>
