<div class='twitter-description' style="margin-top: -55px">
  <h4>パンカラにおけるTwitter連携について</h4>
  <div class='twitter-description-section'>
    パンダリンのカラオケランドでは、Twitter連携を行ったアカウントに対して、
    Tweetの読み込み及び投稿を許可します。
  </div>
  <div class='twitter-description-section'>
    Twitter連携を行うと、「新規カラオケ登録時」及び「新規歌唱履歴登録時」に、
    <span class='red'>「ツイートする」にチェックを入れることで、</span>登録するカラオケ及び歌唱履歴に
    関する情報を自動でツイートできるようになります。
  </div>
  <h4>カラオケ登録時のツイート内容について</h4>
  <div class='twitter-description-section'>
    自動投稿されるツイートは、設定画面よりユーザーごとに任意のフォーマットを
    指定することができます。また、フォーマット中には、「登録するカラオケ名」「楽曲名」「点数」など、
    登録情報に応じた可変パラメータを埋め込むことができます。
  </div>
  <h4>フォーマット例</h4>
  <div class='twitter-description-section'>
    <table class='table table-bordered'>
      <tr>
        <th class='center'>フォーマット</th>
      </tr>
      <tr>
        <td>
          $$username$$さんが、$$song$$($$artist$$)を歌って、$$score$$点でした
        </td>
      </tr>
      <tr>
        <th class='center'>展開されるツイート例</th>
      </tr>
      <tr>
        <td>
          ないとさんが、天体観測(BUMP OF CHICKEN)を歌って、88点でした
        </td>
      </tr>
    </table>
  </div>
  <h4>使用可能なパラメータ</h4>
  <div class='twitter-description-section'>
    <table class='table table-bordered'>
      <thead>
        <th>パラメータ</th>
        <th>説明</th>
        <th>例
      </thead>
      <tbody>
        <tr>
          <td>$$username$$</td>
          <td>ユーザ名</td>
          <td>ないと</td>
        </tr>
        <tr>
          <td>$$url$$</td>
          <td>関連するURL</td>
          <td>省略</td>
        </tr>
      </tbody>
    </table>
  </div>
  <h4>使用可能なパラメータ(カラオケ登録時)</h4>
  <div class='twitter-description-section'>
    <table class='table table-bordered'>
      <thead>
        <th>パラメータ</th>
        <th>説明</th>
        <th>例
      </thead>
      <tbody>
        <tr>
          <td>$$name$$</td>
          <td>カラオケ名</td>
          <td>珍しくヒトカラ</td>
        </tr>
        <tr>
          <td>$$store$$</td>
          <td>店名・支店名</td>
          <td>カラオケ館 亀戸店</td>
        </tr>
        <tr>
          <td>$$product$$</td>
          <td>機種名</td>
          <td>JOYSOUND(MAX)</td>
        </tr>
      </tbody>
    </table>
  </div>
  <h4>使用可能なパラメータ(歌唱履歴登録時)</h4>
  <div class='twitter-description-section'>
    <table class='table table-bordered'>
      <thead>
        <th>パラメータ</th>
        <th>説明</th>
        <th>例
      </thead>
      <tbody>
        <tr>
          <td>$$song$$</td>
          <td>曲名</td>
          <td>天体観測</td>
        </tr>
        <tr>
          <td>$$artist$$</td>
          <td>歌手名</td>
          <td>BUMP OF CHICKEN</td>
        </tr>
        <tr>
          <td>$$key$$</td>
          <td>設定キー</td>
          <td>+2</td>
        </tr>
        <tr>
          <td>$$scoretype$$</td>
          <td>採点モード</td>
          <td>分析採点</td>
        </tr>
        <tr>
          <td>$$score$$</td>
          <td>得点</td>
          <td>88.02</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
