<div class="recent_karaoke_area">
  <h3>最近のカラオケ</h3>
</div>
<!-- 最近のカラオケ情報 -->
<% if @karaoke_list.size > 0 %>
<table id="recent_karaoke_table" class="table table-hover linkcursor" style="clear: both">
  <thead style="background-color: white">
    <tr>
      <th class='center cell-date'>日時</th>
      <th class='center'>カラオケ名</th>
    </tr>
  </thead>
  <tbody style="background-color: white">
    <% @karaoke_list.each do |karaoke| %>
      <tr onclick="location.href='/karaoke/detail/<%= karaoke['id'] %>'">
        <td class="center cell_date"><%= date(karaoke['datetime']) %></td>
        <td class='center'><%= h karaoke['name'] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p class="userpage-more-link"><a href="/karaoke/user/<%= @user['username'] %>">もっと見る</a></p>
<% else %>
  カラオケ記録がありません
<% end %>
