<p style="font-size: 20px"><%= h @user['screenname'] %></p>
<div id="user_icon">
  <%= user_icon @user['username'] , '100%' , '100%' %>
</div>
<a class='pointer color-box' data-width='50%' href="/user/aggregate/<%= @user['username'] %>">集計情報を表示</a>
