<% if @current_user %>
<form method="POST" action="/config">
  <h3>Twitter連携</h3>
  <% if @twitter_token %>
    <p>
      認証済み(<%= @twitter_username %>)
    </p>
  <% else %>
    <p>
      まだ認証を行っていません
      <% if @oauth_url %>
        <script>location.href = '<%= @oauth_url %>'</script>
        <p>Twitterの認証ページより生成されたトークンをテキストボックスに入力してください</p>
        <input type="text" name="token" placeholder="生成されたトークン">
        <input type="submit" name="done_oauth" value="送信">
      <% else %>
        <input type="submit" name="start_oauth" value="認証する">
      <% end %>
    </p>
  <% end %>
  <%= csrftoken %>
</form>
<% end %>
