<% if @current_user %>
<form method="POST" action="/config">
  <h3>Twitter連携</h3>
  <% if @twitter_token %>
    <p>
      認証済み(<%= @twitter_username %>)
    </p>
  <% else %>
    <p>
      まだ認証を行っていません
      <input type="submit" name="start_oauth" value="認証する">
    </p>
  <% end %>
  <%= csrftoken %>
</form>
<% end %>
