<% if @sended %>

<!-- お問い合わせ完了後 -->
<% if Util.is_pc? %>
<div class="row">
  <img align="right" src="/image/kaeru.png" width='330px' height=auto>
  <div style="padding-top: 150px">
    <h2>お問い合わせ内容を送信しました</h2>
    <p>お問い合わせいただきありがとうございました。</p>
    <p>後ほど、入力いただいたメールアドレスに、ご回答を送信致します。</p>
    <p><a href="/">トップへ</a></p>
  </div>
</div>
<% else %>
  <div class='center'>
    <h2>お問い合わせ内容を送信しました</h2>
    <img src="/image/kaeru.png" width='150px' height=auto>
  </div>
  <div>
    <p>お問い合わせいただきありがとうございました。</p>
    <p>後ほど、入力いただいたメールアドレスに、ご回答を送信致します。</p>
    <p><a href="/">トップへ</a></p>
  </div>
<% end %>

<!-- お問い合わせ完了前 -->
<% else %>
<h2>お問い合わせ</h2>
<p>
  お問い合わせ内容を入力し、「送信」ボタンをクリックしてください。
</p>
<hr>
<div>
  <div class='form-group'>
    <label for="name" class='control-label'>お名前</label>
    <input class='form-control' type="text" id="name">
  </div>
  <div class='form-group'>
    <label for="mail" class='control-label'>メールアドレス</label>
    <input class='form-control' type="email" id="email">
  </div>
  <div class='form-group'>
    <label for="title">題名</label>
    <input class='form-control' type="text" id="title">
  </div>
  <div class='form-group'>
    <label for="contact" class='control-label'>お問い合わせ内容</label>
    <textarea class='size-fixed form-control' rows='6' id='contact' required></textarea>
  </div>
  <div class='form-group'>
    <button class='<%= Util.is_pc? ? 'right' : 'form-control' %> btn btn-default' onclick="zenra.sendContactMail()">送信</button>
  </div>
</div>
<% end %>
