<h1>お問い合わせ</h1>
<p>
  お問い合わせ内容を入力し、「送信」ボタンをクリックしてください。
  後ほど、ご回答を入力しましたメールアドレス宛にお送りいたします。
</p>
<hr>
<form method="POST">
  <div class='form-group'>
    <label for="name" class='control-label'>お名前</label>
    <input class='form-control' type="text" name="name" required>
  </div>
  <div class='form-group'>
    <label for="mail" class='control-label'>メールアドレス</label>
    <input class='form-control' type="email" name="email" required>
  </div>
  <div class='form-group'>
    <label for="contact" class='control-label'>お問い合わせ内容</label>
    <textarea class='size-fixed form-control' rows='6' name='contact' required></textarea>
  </div>
  <div class='form-group'>
    <button class='<%= Util.is_pc? ? 'right' : 'form-control' %> btn btn-default' type='submit'>送信</button>
  </div>
  <%= csrftoken() %>
</form>
