<div class="container-fluid">
	<div class="row">
		<div class="col-xs-3 bg-info">
			<h3>友達の情報</h3>
			<%= '友達の情報' * 1000 %>
		</div>
		<div class="col-xs-6 bg-success">
			<h3>自分の情報</h3>
			<%= '自分の情報' * 1000 %>
		</div>
		<div class="col-xs-3 bg-warning">
			<h3>曲入力</h3>
			<%= '曲入力欄' * 1000 %>
		</div>
	</div>
</div>
<div class="footer">
動画リンク　動画リンク　動画リンク　動画リンク　動画リンク動画リンク　動画リンク　動画リンク　動画リンク　動画リンク動画リンク　動画リンク　動画リンク　動画リンク　動画リンク 動画リンク　動画リンク　動画リンク　動画リンク　動画リンク
</div>
