<h1>カラオケ情報統合管理サービスへようこそ</h1>
<p>メニュー</p>
<ul>
	<li><a href="/karaoke">あなたのカラオケ履歴</a></li>
	<li><a href="/history">あなたの歌唱履歴</a></li>
	<li><a href="/karaoke/create">カラオケ記録を登録</a></li>
	<li><a href="/logout">ログアウト</a></li>
</ul>
