<div class="container-fluid">
	<div id="div_top_column" class="row">
		<div class="col-xs-2 bg-info center">
			<h1>Menu</h1>
			<div id="div_icon">
				<img src="image/icon.jpg" alt="ユーザアイコン" width='100%' height='100%'>
			</div>
			<div id="div_myprofile">
				<p>ユーザ名 <%= @user['screenname'] %></p>
				<p>前回のカラオケ 2016/01/03</p>
			</div>
			<img src="image/mascot.png" alt="マスコットキャラクター">
		</div>
		<div class="col-xs-7 bg-success">
			<h1 class="center">March</h3>
			<div id="div_mymenu" class="menubox">
				<p class="center">あなたのカラオケ<p>
			</div>
			<div id="div_everymenu" class="menubox">
				<p class="center">みんなのカラオケ<p/>
			</div>
		</div>
		<div class="col-xs-3 bg-warning">
			<h1 class='center'>TimeLine</h1>
			<div id="div_tl">
				友達がいません(笑)
			</div>
		</div>
	</div>
	<div id="div_bottom_column" class="row">
		動画リンク　動画リンク　動画リンク　動画リンク　動画リンク動画リンク　動画リンク　動画リンク　動画リンク　動画リンク動画リンク　動画リンク　動画リンク　動画リンク　動画リンク 動画リンク　動画リンク　動画リンク　動画リンク　動画リンク
	</div>
</div>
