<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/march.css?20160402" type="text/css">
  <link rel="stylesheet" href="/css/plugines.css?20160207" type="text/css">
  <link rel="stylesheet" href="/jquery-ui-1.11.4/jquery-ui.min.css" type="text/css">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.css" type="text/css">
  <script src="/script/jquery-2.2.0.min.js"></script> <!-- jQuery本体-->
  <script src="/jquery-ui-1.11.4/jquery-ui.min.js"></script> <!-- jQueryUI -->
  <script src="/jquery_lib/jquery.simplyscroll.min.js"></script> <!-- バスタオルスクリプト -->
  <script src="/jquery_lib/tablesort/jquery.tablesorter.min.js"></script> <!-- テーブルソートスクリプト-->
  <script src="/jquery_lib/jquery.datetimepicker.js"></script><!-- カレンダースクリプト-->
  <script src="/script/zenra.js"></script> <!-- 全裸スクリプト -->
  <title>パンダリンのカラオケランド</title>
</head>
<body>
<div class="container">
  <!-- メインメニューバー -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">🐼パンダリンのカラオケランド(ベータテスト期間中)</a>
      </div>
      
      <div class="collapse navbar-collapse" id="navbarEexample">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              カラオケを振り返る<b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/karaoke/list">全てのカラオケ一覧</a></li>
              <% if @current_user %>
              <li><a href="/karaoke/user/">あなたのカラオケ一覧</a></li>
              <li><a href="/history/">あなたの歌唱履歴</a></li>
              <% end %>
            </ul>
          </li>
          <% if @current_user %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              カラオケを記録する<b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#" onclick="register.createKaraoke();">カラオケを新規登録</a></li>
              <li><a href="#">既存のカラオケに歌唱履歴を登録(未)</a></li>
            </ul>
          </li>

          <% end %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              データを見る <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">全ての曲を見る</a></li>
              <li><a href="/artist_list">全てのアーティスを見る</a></li>
              <li><a href="/ranking/artist">人気のアーティストランキング</a></li>
              <li><a href="/ranking/song">人気の楽曲ランキング</a></li>
              <li><a href="/ranking/score">得点ランキング</a></li>
            </ul>
          </li>

          <% if @current_user %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= h @current_user['screenname'] %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/user">マイページ</a></li>
              <li><a href="/config">設定</a></li>
              <li><a href="/logout">ログアウト</a></li>
            </ul>
          </li>
          <% else %>
          <li><a href="/login">ログイン</a></li>
          <% end %>
        </ul>

        <form class="navbar-form navbar-left" role="search" method="GET" action="/search">
          <div class="form-group">
            <input type="text" class="form-control" name="search_word" id="search_freeword" placeholder="曲名/歌手名で検索">
          </div>
          <button type="submit" class="btn btn-default">検索</button>
        </form>
      </div>
    </div>
  </nav>
  <!-- コンテンツのインクルード-->
  <%= yield %>
</div>
<%= csrftoken %>
</body>
  <script src="/bootstrap/js/bootstrap.js"></script>
</html>
