<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" type="text/css">
	<link rel="stylesheet" href="/css/march.css?20160111" type="text/css">
	<title>カラオケ情報統合管理サービス(仮)</title>
</head>
<body>
<div class="container">
	<%= yield %>
</div>
</body>
 <script src="/bootstrap/js/bootstrap.min.js"></script>
</html>
