<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/march.css?20160206" type="text/css">
  <link rel="stylesheet" href="/css/plugines.css?20160207" type="text/css">
  <link rel="stylesheet" href="/jquery-ui-1.11.4/jquery-ui.min.css" type="text/css">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.css" type="text/css">
  <script src="/script/jquery-2.2.0.min.js"></script> <!-- jQuery本体-->
  <script src="/jquery-ui-1.11.4/jquery-ui.min.js"></script> <!-- jQueryUI -->
  <script src="/jquery_lib/jquery.simplyscroll.min.js"></script> <!-- バスタオルスクリプト -->
  <script src="/jquery_lib/tablesort/jquery.tablesorter.min.js"></script> <!-- テーブルソートスクリプト-->
  <script src="/jquery_lib/jquery.datetimepicker.js"></script><!-- カレンダースクリプト-->
  <script src="/script/zenra.js"></script> <!-- 全裸スクリプト -->
  <title>パンダリンのカラオケランド</title>
</head>
<body>
<div class="container">
  <!-- メインメニューバー -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">🐼パンダリンのカラオケランド</a>
      </div>
      
      <div class="collapse navbar-collapse" id="navbarEexample">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              カラオケを振り返る<b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <% if @current_user %>
              <li><a href="/karaoke/user/">今までのカラオケ</a></li>
              <li><a href="/history/">今まで歌った曲</a></li>
              <% end %>
            </ul>
          </li>
          <% if @current_user %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              カラオケを記録する<b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#" onclick="register.createKaraoke();">カラオケを新規登録</a></li>
              <li><a href="#">既存のカラオケに歌唱履歴を登録(未)</a></li>
            </ul>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              ともだち<b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">友達の活動</a></li>
              <li><a href="#">友達一覧(未)</a></li>
              <li><a href="#">友達を検索(未)</a></li>
            </ul>
          </li>
          <% end %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              ランキングを見る <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/ranking/score">得点ランキング</a></li>
              <li><a href="/ranking/song">楽曲ランキング</a></li>
              <li><a href="/ranking/artist">アーティストランキング</a></li>
            </ul>
          </li>

          <% if @current_user %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= @current_user['screenname'] %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/user">マイページ</a></li>
              <li><a href="#">設定(未)</a></li>
              <li><a href="/logout">ログアウト</a></li>
            </ul>
          </li>
          <% else %>
          <li><a href="/login">ログイン</a></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
  <!-- コンテンツのインクルード-->
  <%= yield %>
</div>
<%= csrftoken %>
</body>
  <script src="/bootstrap/js/bootstrap.js"></script>
</html>
