<h4>ログインしてください</h4>
<form method="POST" action="login">
  <p>ユーザ名: <input type="text" name="username"></p>
  <p>パスワード: <input type="password" name="password"></p>
  <p><input type="submit" id="login_button" value="ログイン">
  <%= csrftoken %>
</form>
