<h4>ユーザの新規登録</h4>
<% if @params[:reason] %>
  <p class="red"><%= h @params[:reason] %></p>
<% end %>
<form method="POST" action="/user/registration">
  <table class="user_registration_table" border="0">
    <tr>
      <td>ニックネーム：</td>
      <td><input type="text" name="screenname" value="<%= @params[:screenname] %>" autofocus/></td>
    </tr>
    <tr>
      <td>ユーザ名：</td>
      <td><input type="text" name="username" value="<%= @params[:username] %>"/></td>
    </tr>
    <tr>
      <td>パスワード：</td>
      <td><input type="password" name="password"/></td>
    </tr>
    <tr>
      <td>再入力：</td>
      <td><input type="password" name="repassword"/></td>
    </tr>
    <tr>
      <td><input type="submit" id="registration_button" value="登録"/></td>
    </tr>
  </table>
  <%= csrftoken %>
</form>
