<div class="container-fluid">
  <div class="row">
    <div class="col-xs-3 bg-info">
      <h3>hogeさんの友達</h3>
      <%= '友達' * 100 %>
    </div>
    <div class="col-xs-6 bg-success">
      <h3>最近のカラオケ記録</h3>
    </div>
  </div>
</div>
<div class="footer">
動画リンク　動画リンク　動画リンク　動画リンク　動画リンク動画リンク　動画リンク　動画リンク　動画リン>    ク　動画リンク動画リンク　動画リンク　動画リンク　動画リンク　動画リンク 動画リンク　動画リンク　動画リ
ンク　動画リンク　動画リンク
</div>

